@import 'Shared.scss';

body {
    background-color: whitesmoke;
    color:gray;
    

}

.Logo {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 40%;
    margin-bottom: 20%;
}

input[type=text], input[type=password], select {
    box-shadow: none !important;
    box-shadow: 0 0 18px -18px #000000;
}

.button, .cont input[type=submit], .cont2 input[type=submit] {
    background-color: transparent;
    color: gray;
    border: none;
    padding: 8px;
    font-size: 14px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=18, Direction=0, Color=#000000)"; /*IE 8*/
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=18, Direction=135, Color=#000000); /*IE 5.5-7*/
    outline: 0 !important;
}

.form-control:focus {
    border-color: #e7e7e7;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(2, 13, 13, 0.5);
}

.form-control {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 80%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: gray;
    background-color: transparent;
    background-image: none;
    border: none;
    border-bottom: 1px solid $mainColor;
    border-radius: 0;
}

.logLinks {
    margin-bottom: 5%;
}

h6 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid lightgray;
    line-height: 0.1em;
    margin:7% 0 13%;

}

h6 span {
    background:whitesmoke;
    padding: 0 10px;
}

.FBlogin{
    margin-bottom:5%;
}
